comment-edit {

    ion-textarea{
        height: 60vh;
        width: 100%;
        padding: 5;
        font-size: 1.5em;
        background-color: aliceblue;
        border-radius: 1em;

        

    }


}
