<ion-header>

  <ion-searchbar></ion-searchbar>

</ion-header>



<ion-content class="cards-bg social-cards">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab right>
    <button ion-fab (click)="editNote()">
      <ion-icon name="md-create"></ion-icon>
    </button>
  </ion-fab>

  <div style="display: block" *ngFor="let thisNote of this.noteList" >
    <ion-card (click)="toCommentListPage(thisNote)" >
      <ion-item>
        <ion-avatar item-start>
          <img src="{{baseImgUrl+thisNote.userId.imgUrl}}">
        </ion-avatar>
        <h2>{{baseImgUrl+thisNote.userId.userName}}</h2>
      </ion-item>
      <ion-item>

        <h2>{{thisNote.title}}</h2>
      </ion-item>
      <ion-card-content>
        <p>{{thisNote.des}}</p>

    </ion-card-content>
      <ion-row class="subjectRow" *ngFor="let thisSubject of thisNote.subject">
        <ion-col>
          <span class="subject">#{{thisSubject.name}}#</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button color="primary" clear small icon-start>
            <ion-icon name='thumbs-up'></ion-icon>
            {{thisNote.stars}} Likes
          </button>
        </ion-col>
        <ion-col>
          <button ion-button color="primary" clear small icon-start>
            <ion-icon name='text'></ion-icon>
            {{thisNote.commentList.length}} Comments
          </button>
        </ion-col>
        <ion-col align-self-center text-center>
          <ion-note>
            11h ago
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-card>
    

  </div>



  


</ion-content>


    <!-- <ion-card >
    
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/imgs/sarah-avatar.png.jpeg">
        </ion-avatar>
        <h2>Sarah Connor</h2>
        <p>May 12, 1984</p>
      </ion-item>
    
      <img src="./assets/imgs/advance-card-tmntr.jpg">
    
      <ion-card-content>
        <p>I face the unknown future, with a sense of hope. Because if a machine, a Terminator, can learn the value of human life, maybe we can too.</p>
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button color="primary" clear small icon-start>
            <ion-icon name='thumbs-up'></ion-icon>
            30 Likes
          </button>
        </ion-col>
        <ion-col>
          <button ion-button color="primary" clear small icon-start>
            <ion-icon name='text'></ion-icon>
            64 Comments
          </button>
        </ion-col>
        <ion-col align-self-center text-center>
          <ion-note>
            30yr ago
          </ion-note>
        </ion-col>
      </ion-row>
    
    </ion-card>
    
    
    <ion-card>
    
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/imgs/ian-avatar.png">
        </ion-avatar>
        <h2>Dr. Ian Malcolm</h2>
        <p>June 28, 1990</p>
      </ion-item>
    
      <img src="./assets/imgs/advance-card-jp.jpg">
    
      <ion-card-content>
        <p>Your scientists were so preoccupied with whether or not they could, that they didn't stop to think if they should.</p>
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button color="primary" clear small icon-start>
            <ion-icon name='thumbs-up'></ion-icon>
            46 Likes
          </button>
        </ion-col>
        <ion-col>
          <button ion-button color="primary" clear small icon-start>
            <ion-icon name='text'></ion-icon>
            66 Comments
          </button>
        </ion-col>
        <ion-col align-self-center text-center>
          <ion-note>
            2d ago
          </ion-note>
        </ion-col>
      </ion-row>
    
    </ion-card>
 -->