<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="backTo()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      c-language
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="listContent" *ngFor="let chapter of chapters" >
  <ion-list no-border>

    <ion-list-header>
      {{chapter.name}}
    </ion-list-header>
    <div *ngFor="let subChapter of chapter.subChapters">
      <ion-item (click) = "toProverPage(subChapter.des)">
        <ion-icon name='planet' item-start></ion-icon>
        {{subChapter.name}}
      </ion-item>
    </div>
  </ion-list>
 
</ion-content>