<ion-header>
    <ion-navbar>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
         
        </button>
      </ion-buttons>
      <ion-title>
        note detail
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content>

  <ion-item>
    <ion-avatar item-start>
      <img src="{{note.userId.imgUrl}}">
    </ion-avatar>
    <h2>{{note.userId.userName}}</h2>
    <h3>{{note.title}}</h3>
  </ion-item>
  <ion-fab right bottom>
    <button ion-fab (click)="commentTo()">
      <ion-icon name="md-create"></ion-icon>
    </button>
  </ion-fab>
  <ion-card>
  
      <ion-card-content>
        <p>{{note.des}}</p>
      </ion-card-content>
      <ion-row class="subjectRow">
        <ion-col *ngFor="let thesub of note.subject">
          <span class="subject">#{{thesub.name}}#</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button color="primary" clear small icon-start (click)="supportOrUnSupport(note._id,-1,2,0)" >
            <ion-icon name='thumbs-up'></ion-icon>
            {{note.stars}} Likes
          </button>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-list>
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <div class="oneComment" *ngFor="let comment of note.commentList;let i = index">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{comment.userId.imgUrl}}" />
          </ion-avatar>
          <h2>{{comment.userId.userName}}</h2>
        </ion-item>
        <ion-card-content class="commitContent">
            <p>{{comment.des}}</p>
        </ion-card-content>

        <ion-item  > 
            <ion-col>
                <button ion-button color="primary" clear small icon-start  (click)="supportOrUnSupport(comment._id,i,4,0)">
                  <ion-icon name='thumbs-up'></ion-icon>
                  {{comment.stars}} LIKE 
                </button>
           </ion-col>
           <ion-col>
              <button ion-button color="primary" clear small icon-start  (click)="commentTo(comment.userId)">
                <ion-icon name='ios-text'></ion-icon>
              </button>
          </ion-col>
        </ion-item>
      </div>
    </ion-list>

</ion-content>