welcome-page{
    #welcome{
        background :no-repeat url("../../assets/imgs/welcome.png");
        width: 100%;
        background-size:100% 100%;
        h1{
            margin-top: 35vh;
            margin-left: 20vw;
            font-size : 15vw;
            color: aliceblue
        }
    }


    
}