home-page{
    #menuContent{

        ion-item:last-child ion-icon{
            font-size: 15vw;


        }
        ion-item:last-child button{
          margin-top: 20vh;
        
          height: 15vw;


        }


    }

}